@import "http://fonts.googleapis.com/css?family=Lato:400,700,900,300|Open+Sans:400,700,800,600,300";

$nevada : #656c6d; 
$mindShalf : #333333;
$halfBaked : #7bc3d1;
$bunker : #121d1f;
$white : #ffffff;
$porcelain : #F4F5F6;
$wildSand : #f6f6f6;
$tahitiGold : #E87E04;
$gallery : #eeeeee;
$breakerBay : #629ca7;
$pickedBluewood : #2c3e50;
$sirocco : #7d8384;
$edward : #a0a5a5;

$whiteTransparentNav : rgba(255, 255, 255, 0.3);
$blackTransparentHover : rgba(0, 0, 0, 0.66);
$blackTransparentContact : rgba(255, 255, 255, 0.8);

$bodyFont : 'Open Sans', sans-serif;
$introFont: 'Lato', sans-serif;